MONGODB_URI=mongodb+srv://mmvolcan_db_user:NY06QQ4qrPSRXkuF@clustermongodb.teutw7k.mongodb.net/
ATLAS_DB_MATRICULA=penascal-matricula
ATLAS_DB_DOCENTES=penascal-docentes
ATLAS_DB_SOCIOS=penascal-socios
ATLAS_DB_PROVEEDORES=penascal-proveedores
FLASK_ENV=development
